<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="HRSystemEntities" connectionString="metadata=res://*/Employees.csdl|res://*/Employees.ssdl|res://*/Employees.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL7005.site4now.net;initial catalog=DB_A4B0EB_employees;user id=DB_A4B0EB_employees_admin;password=employees123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ProjectC.Properties.Settings.HRSystemConnectionString"
      connectionString="Data Source=SQL7005.site4now.net;Initial Catalog=DB_A4B0EB_employees;User ID=DB_A4B0EB_employees_admin;Password=employees123"
      providerName="System.Data.SqlClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>